##### This code shows how to do one hot encoding from scratch on a pandas dataframe.

In [57]:
import pandas as pd
#initializing variables which I will use to create a toy dataset
a='a'
b='b'
c='c'
d='d'
e='e'
f='f'
g='g'
#creating a toy dataset using pandas and dictionaries
data=pd.DataFrame({'region':[a,b,a,c,a,b,c,a,a,b,c,a,b,c,e],'village':[d,f,d,g,e,e,f,g,d,f,e,d,f,g,e]})
col=data.columns #collecting the columns form the dataframe 
one_hot={} # This dictionary is going to hold the new one hot encoded columns
for i in col:
    categories=data[i].unique() #picking the categories of a parcular column. In this case column i
    for j in categories:
        new="{}_{}".format(i,j) #Creating a new column title
        lis=[] #This list will contain the values for the new column
        for k in data[i]:#This loop does the one hot encoding
            if k==j:
                lis.append(1)
            else:
                lis.append(0)
            one_hot[new]=lis
encoded_data_frame=pd.DataFrame(one_hot)
encoded_data_frame

,region_a,region_b,region_c,region_e,village_d,village_e,village_f,village_g
0,1,0,0,0,1,0,0,0
1,0,1,0,0,0,0,1,0
2,1,0,0,0,1,0,0,0
3,0,0,1,0,0,0,0,1
4,1,0,0,0,0,1,0,0
5,0,1,0,0,0,1,0,0
6,0,0,1,0,0,0,1,0
7,1,0,0,0,0,0,0,1
8,1,0,0,0,1,0,0,0
9,0,1,0,0,0,0,1,0
10,0,0,1,0,0,1,0,0
11,1,0,0,0,1,0,0,0
12,0,1,0,0,0,0,1,0
13,0,0,1,0,0,0,0,1
14,0,0,0,1,0,1,0,0

In [58]:
data

   region village
0       a       d
1       b       f
2       a       d
3       c       g
4       a       e
5       b       e
6       c       f
7       a       g
8       a       d
9       b       f
10      c       e
11      a       d
12      b       f
13      c       g
14      e       e